version: '3'

networks:
  traefik:
    external: true

services:
  traefik-proxy:
    image: traefik # The official Traefik docker image
    command: --api --docker # Enables the web UI and tells Traefik to listen to docker
    ports:
      - "80:80"
    networks:
      - traefik
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # So that Traefik can listen to the Docker events
    labels:
      - "traefik.docker.network=traefik"
      - "traefik.backend=traefik-proxy"
      - "traefik.port=8080"